@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

@import './vars.css';
@import './reset.css';

html {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;

  color: var(--color-primary-black);
  background-color: var(--background-primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
