@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200..800&display=swap');

@import './vars.css';
@import './reset.css';

html {
  box-sizing: border-box;
}

body {
  margin: 0;

  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.01em;

  color: var(--color-primary-black);
  background-color: var(--color-primary-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
